.wrapper {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
	background: linear-gradient(145deg, #dbe1e8, #f0f3f7);
  padding: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
}

.container {
  width: 100%;
  max-width: 960px;
	background: #e0e5ec;
  box-shadow:
    8px 8px 16px #babecc,
    -8px -8px 16px #ffffff;
  border-radius: 16px;
  padding: clamp(20px, 4vw, 60px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
}

.title {
  text-align: center;
  font-size: clamp(1.1rem, 0.591rem + 2.55vw, 2.5rem);
  margin-bottom: clamp(0.938rem, 0.597rem + 1.7vw, 1.875rem);
  font-weight: 800;
  color: #2c3e50;
  font-family: var(--font-shantell);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.players {
  display: flex;
  gap: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
  justify-content: space-between;
  flex-wrap: wrap;
}


